
*{
    margin: 0;
    font-family: Lato;
}

.megamenue_item:hover .megamenue_link{
color: #f16d7f;
}

.menu_item:hover .menu_link{
    color: #f16d7f;
}

.footer_li:hover .footer_menu_a{
    color: #f16d7f;
}

.basket_img_info:hover .basket_card_name{
    color: #f16d7f;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 32px 0;
}
.header_left{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header_brand{
font-size: 27px;
line-height: 32px;
font-weight: 300;
letter-spacing: 0.025em;
color: #222222;
padding-right: 37px;
padding-left: 13px;
text-decoration: none;
}
.pink_text{
font-weight: 900;
color: #f16d7f;
}

.header_search_form{
    display: flex;
}
.header_search_sign{
font-size: 14px;
line-height: 32px;
font-weight: 400;
letter-spacing: 0.025em;
color: #a4a4a4;
background-color: #ffffff;
border: 1px solid #e6e6e6;
border-top: 0;
border-bottom: 0;
border-radius: 0px 3px 3px 0px;
}
.header_browse_button{
    width: 87px;
height: 38px;
background-color: #cdcdcc;
background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
border: none;
border-radius: 3px 0px 0px 3px;
line-height: 32px;
font-weight: 300;
letter-spacing: 0.025em;
color: #222222;
}

.header_browse_input{
    font-size: 14px;
    line-height: 32px;
    font-weight: 300;
    letter-spacing: 0.025em;
    color: #a4a4a4;
    border: none;
    padding-left: 16px;
}

.header_browse_input:focus, .email_for_promo:focus{
    outline: none;
}

.dropdown_browse{
        position: relative;
        display: inline-block;
        font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    width: 87px;
    height: 38px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
}
.dropdown_browse_summary{
    padding: 12%;
}

.drowdown_browse_content {
    position: absolute;
    z-index: 1;
    max-width: 262px;
background-color: #ffffff;
border-radius: 5px;
padding: 0 15px 15px;
  }

 .drop_item{
    list-style: none;
 }

 .drop_item:hover .drop_link{
   color: #f16d7f;
 }
.dropdown_ul{
    padding-inline-start: 0;
}
 .drop_link{
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #4f4f4f;
    text-decoration: none;
 }

 .drop_link:visited{
    color: #4f4f4f; 
 }

 .drop_menu_gender{
     border-bottom: 1px solid #e6e6e6;
     padding-top: 19px;
     padding-bottom: 5px;
margin-bottom: 15px
 }


  .dropdown_browse:hover .dropdown_content {display: block;}

  .header_left_logobrand{
      display: flex;
      align-items: center;
  }

  .logobrand_underline{
      text-decoration: none;
  }
  .logobrand_underline:hover{
    text-decoration: none; 
  }

  .header_search{
      display: flex;
      justify-content: space-between;
      width: 317px;
      height: 38px;
      background-color: #ffffff;
      border: 1px solid #e6e6e6;
      border-radius: 0px 3px 3px 0px;
      border-left: 0;
      border-right: 0;
  }


  .basket_card_info{
      display: flex;
      flex-direction: column;
      padding-left: 14px;
  }

  .basket_rating{
padding-top: 15px;
  }

  .basket_card{
      display: flex;
      border-bottom: 1px solid rgba(237,237,237,0.74);
      background-color: #fff;
  }

  .basket_img_info{
      display: flex;
      padding-top: 16px;
  }

  .basket_img{
      padding: 0 0 16px 17px;
  }

  .total{
    padding: 16px 16px 32px 17px;
background-color: #fff;
  }

  .total_sum, .total_price{
    font-size: 16px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
  }

  .basket{
      position: relative;
  }

  .basket_icon{
      padding-bottom: 20px;
      padding-top: 20px;
  }

  .basket_content{
    position: absolute;
    display: none;
   top: 65px;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .basket:hover .basket_content{display: block;}


  .basket_card_name{
    font-size: 12px;
    line-height: 1.2;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
  }
.basket_card_price{
font-size: 12px;
padding-top: 12px;
font-weight: 400;
text-transform: uppercase;
color: #f16d7f;
}
.total{
display: flex;
justify-content: space-between;
font-size: 16px;
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
color: #222222;
}

.checkout, .go_to_cart{
    font-size: 14px;
line-height: 1.2;
font-weight: 700;
text-transform: uppercase;
color: #4a4a4a;
width: 225px;
height: 50px;
background-color: #ffffff;
border: 1px solid #eaeaea;
margin: 10px 16px;
}

.fa-times-circle{
    font-size: 16px;
font-weight: 400;
color: #c0c0c0;
padding: 30px 15px 0 40px;
}

.checkout_buttons{
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.checkout:hover, .go_to_cart:hover{
    border: 1px solid #f16d7f;
    color: #f16d7f;
}


.top_banner{
    background:#e8e8e8;
}

.main_banner{
    background-image: url(img/header-banner.jpg);
    box-sizing: border-box;
}

.vertical_block{
    background-color:#f16d7f;
    width: 12px;
    height: 94px;
}

.brand_banner{
    font-size: 60px;
line-height: 76%;
font-weight: 900;
letter-spacing: 0.025em;
color: #222222;
padding-left: 12px;
}

.luxerious_fashion{
    font-size: 40px;
line-height: 76%;
font-weight: 900;
letter-spacing: 0.025em;
color: #222222;
padding-left: 12px;
padding-top: 20px;
}

.banner_heading{
    display: flex;
    align-items: center;
}
.heading_slogan{
    display: flex;
    flex-direction: column;
}

.heading_border{
    border-left: 12px;
    border-left-color: #f16d7f;
    border-left-style: solid;
}

.heading_positioning{
    padding-top: 224px;
    padding-bottom: 297px;
    box-sizing: border-box;
}

.header_right{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.my_account{
    width: 130px;
height: 38px;
background-color: #f16d7f;
border:0;
    margin-left: 26px;
    font-size: 15px;
line-height: 32px;
font-weight: 400;
letter-spacing: 0.025em;
color: #ffffff;
}

.my_account:hover, .browse_product:hover, .email_for_promo_button:hover{
    background-color: #fff;
    color: #f16d7f;
    border: 1px solid #f16d7f;
    transition-duration: 0.3s;
}

a:hover{
    text-decoration: none;
}

.browse_product:hover{
    margin-bottom: 111px;
}

.arrow_account{
    font-size: 14px;
}

.heading_hr{
    border: none;
    color: #e6e6e6;
    background-color: #e6e6e6;
    height: 1px;
}

.menu_nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

.menu_item{
padding: 19px 22px 22px 22px;
}

.menu_link{
    text-decoration: none;
    font-size: 14px;
line-height: 26px;
font-weight: 700;
color: #222222;
}


.card_pink{
line-height: 1.2;
font-weight: 900;
letter-spacing: 0.025em;
font-size: 30px;
}

.showcased_categories{
    display: flex;
    padding-top: 78px;
}

.showcased_card_text{
    position: absolute;
    top: 43px;
}

.showcased_left{
    padding-right: 21px;
}

.showcased_card{
    position: relative;
    padding-top: 20px;
}

.showcased_card_text{
    font-size: 18px;
line-height: 1.2;
font-weight: 900;
text-transform: uppercase;
letter-spacing: 0.025em;
color: #222222;
background-color: #ffffff;
padding: 16px 18px;
}

.featured_box{
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.featured_item_box:hover .featured_product_img {
    filter: brightness(50%);
}

.featured_item_box:hover .add_to_cart{
    display: flex;
}

.featured_item_box:hover{
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.featured_item_box{
    position: relative;
    width: 263px;
    margin-bottom: 40px;
}

.featured_product_img{
    width: 100%;
}

.featured_product_info{
    width: 263px;
    display: block;
    text-decoration: none;
}

.featured_product_info:hover{
    text-decoration: none;
}

.add_cart_link:hover{
    text-decoration: none;
    color: #fff;
}

.featured_product_text{
    padding: 20px 15px;
}

.featured_product_name{
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.featured_product_price{
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.add_to_cart{
    position: absolute;
    top: 98px;
    display: none;
    justify-content: center;
    width: 100%;
}


.add_cart_link{
    border: 1px solid #ffffff;
    padding: 8px 12px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.add_cart_img{
    margin-right: 7px;
}

.featured_items_h2{
    font-size: 30px;
font-weight: 700;
letter-spacing: 0.025em;
color: #222222;
padding-top: 100px;
text-align: center;
}

.featured_items_h3{
    font-size: 14px;
font-weight: 400;
letter-spacing: 0.025em;
color: #9f9f9f;
padding-top: 16px;
text-align: center;
}

.featured_link{
    text-decoration: none;
}

.browse_product{
background-color: #f16d7f;
padding: 18px 24px;
border: none;
font-size: 16px;
font-weight: 700;
letter-spacing: 0.025em;
color: #ffffff;
margin-bottom: 113px;
margin-top: 20px;
box-sizing: border-box;
}

.browse_button_inside{
    display: flex;
    justify-content: center;
}

.women_offer_banner{
    background-color: #222224;
    display: flex;
}

.banner_woman{
    background-image: url(img/30_offer_women_layered.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 146px;
    padding-left: 39px;
    width: 767px;
}

.women_offer_text{
    font-size: 53.7px;
line-height: 1.2;
font-weight: 700;
letter-spacing: 0.025em;
color: #ffffff;
text-decoration: none;
}

.for_women_text{
    font-size: 32.2px;
    line-height: 1.2;
font-weight: 700;
letter-spacing: 0.025em;
color: #ffffff;
padding-bottom: 305px;
text-decoration: none;
}
.offer_explained_article{
    display: flex;
    align-items: flex-start;
    padding-top: 48px;
    padding-left: 36px;
}

.offer_heading{
    font-size: 20px;
line-height: 1.2;
font-weight: 700;
letter-spacing: 0.025em;
color: #fbfbfb;
padding-left: 33px;
}

.offer_explained{
    font-size: 13px;
line-height: 24px;
font-weight: 300;
letter-spacing: 0.025em;
color: #fbfbfb;
padding-left: 33px;
padding-right: 22px;
padding-top: 12px;
}

.offer_wrapper{
    display: flex;
    flex-direction: column;
}

.founder_quote{
    display: flex;
    align-items: flex-start;
}

.lower_banner{
    background-image: url(img/beach_bgd.jpg);
    background-size: cover;
    background-position: 50% 20%;
    margin-top: 91px;
}
.lower_banner_overlay{
    background-color: rgba(242,242,242,0.5);
}

.quote_face{
padding-top: 111px;
}
.quote_caption{
    border-right: 1px solid #ffffff;
    font-size: 16px;
line-height: 26px;
font-weight: 400;
font-style: italic;
letter-spacing: 0.025em;
color: #222224;
padding-right: 72px;
padding-left: 28px;
padding-top: 111px;
}

.lower_banner_insides{
    display: flex;
}


.pink_text_bhaka{
font-size: 16px;
line-height: 26px;
font-weight: 700;
letter-spacing: 0.025em;
color: #f16d7f;
font-style: normal;
padding-top: 19px;
}

.caption_bhaka{
font-size: 12px;
line-height: 14px;
font-style: normal;
font-weight: 300;
color: #222224;
padding-bottom: 41px;
}

.quote_button{
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
    border: none;
    margin-top: 41px;
    }

.quote_button:hover{
background-color: #f16d7f;
}

.middle_quote_button{
    margin: 0 13px 156px;
    background-color: #f16d7f;
}

.subscribe_h3{
    font-size: 24px;
line-height: 54px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.025em;
color: #222224;
text-align: center;
padding-top: 111px;
}

.subscribe_h4{
    font-size: 14px;
    line-height: 24px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.025em;
color: #222224;
text-align: center;
}

.subscribe_cluster{
    display: flex;
    margin-top: 35px;
}
.subscribe_newsletter{
    padding-left: 92px;
}

.email_for_promo{
    border: none;
    background-color: #e1e1e1;
border-radius: 23px 0 0 23px;
height: 46px;
padding-left: 28px;
width: 334px;
box-sizing: border-box;
}
.email_for_promo_button{
border: none;
background-color: #f16d7f;
border-radius: 0px 23px 23px 0px;
font-size: 14px;
padding: 0 20px;
height: 46px;
font-weight: 400;
letter-spacing: 0.025em;
color: #ffffff;
box-sizing: border-box;
width: 104px;
}

.footer{
    display: flex;
}

.footer_left{
    display: flex;
    align-items: center;
    padding-top: 118px;
}

.footer_p{
    font-size: 14px;
line-height: 24px;
font-weight: 300;
letter-spacing: 0.025em;
color: #898989;
padding-top: 22px;
}

.footer_menu{
    display: flex;
}

.footer_ul{
    list-style-type: none;
    padding-inline-start: 0;
    padding-left: 64px;
    padding-bottom: 30px;
    padding-top: 40px;
    padding-left: 90px;
}

.footer_h4{
    font-size: 18px;
line-height: 26px;
font-weight: 700;
letter-spacing: 0.025em;
color: #f16d7f;
text-transform: uppercase;
padding-left: 90px;
padding-top: 123px;
}

.footer_menu_a{
    text-decoration: none;
    font-size: 16px;
line-height: 42px;
font-weight: 400;
letter-spacing: 0.025em;
color: #898989;
}

.footer_article{
    max-width: 480px;
}

.footer_footer{
    background-color: #e6e6e6;
    height: 79px;
    box-sizing: border-box;
}

.fa-facebook-f, .fa-twitter, .fa-linkedin, .fa-pinterest, .fa-google-plus-g{
    font-size: 16px;
font-weight: 400;
letter-spacing: 0.025em;
color: #b2b2b2;
background: #fff;
padding: 8px 12px;
margin-left: 8px;
margin-top: 24px;
width: 32px;
height: 32px;
box-sizing: border-box;
}

.fa-facebook-f:hover, .fa-twitter:hover, .fa-linkedin:hover, .fa-pinterest:hover, .fa-google-plus-g:hover{
    color: #fff;
    background: #f16d7f;
    transition-duration: 0.2s;
}

.fa-linkedin{
    max-height: 32px;
    max-width: 32px;
    padding-top: 5px;
}

.fa-google-plus-g, .fa-pinterest{
    padding-left: 8px;
}
.copywright_block{
    font-size: 16px;
font-weight: 400;
letter-spacing: 0.025em;
color: #7a7a7a;
padding: 33px 0 30px;
}

.footer_footer_blocks{
    display: flex;
    justify-content: space-between;
}

.megamenue_dropdown{
    display: none;
    position: absolute;
    left: -20px;
    background-color: #ffffff;
    border-radius: 5px;
    padding-top: 21px;
    z-index: 3;
}

.menu_item:hover .megamenue_dropdown{
    display: flex;
}

.megamenue_ul{
    padding-inline-start: 0;
    list-style-type: none;
    padding: 16px 0 20px 25px;
}

.megamenue_banner_div{
    position: relative;
    padding: 0 21px 19px 20px;
}

.megamenue_supersale_text{
    position: absolute;
    font-size: 22px;
line-height: 28px;
font-weight: 900;
text-transform: uppercase;
letter-spacing: 0.025em;
color: #ffffff;
right: 31px;
bottom: 31px;
}

.menu_item{
    position: relative;
}

.megamenue_gender{
font-size: 14px;
line-height: 32px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.025em;
color: #232323;
text-decoration: none;
border-bottom: 1px solid #e8e8e8;
margin-left: 25px;
padding-bottom: 5px;
padding-right: 185px;
}


.megamenue_link{
    font-size: 14px;
line-height: 28px;
font-weight: 400;
letter-spacing: 0.025em;
color: #646464;
text-decoration: none;
padding-right: 160px;
}

.megamenue_center, .megamenue_right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu_link_right{
    left:-517px;
}

.single_page_heading{
   background-color: #f8f3f4;
}
.new_arrivals_sp{
    font-size: 24px;
line-height: 20px;
font-weight: 900;
text-transform: uppercase;
color: #f16d7f;
padding: 65px 0;
}

.heading_sp{
    display: flex;
    justify-content: space-between;
}

.sp_path{
    padding: 65px 0;
}

.sp_head_link{
    font-size: 14px;
line-height: 20px;
font-weight: 300;
text-transform: uppercase;
color: #636363;
text-decoration:none;
}

.sp_head_link:hover{
    text-decoration:none;
    color: #f16d7f;
    font-weight: 700;
    transition-duration: 0.2s;
}

.sp_head_link:last-of-type{
    font-weight: 700;
color: #f16d7f;
}

.sp_main_product{
    background-color: #f7f7f7;
    border: 1px solid #eaeaea;
    position: relative;
}

.sp_main_insides{
    display: flex;
    justify-content: center;
}

.sp_banner_arrows{
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: space-between;
    top: 50%;
}

.fa-angle-left, .fa-angle-right{
font-size: 24px;
line-height: 24px;
color: #ffffff;
background-color: rgba(42,42,42,0.14);
padding: 17px 21px 16px 18px;
}

.sp_product_h4{
    font-size: 14px;
line-height: 24px;
font-weight: 700;
color: #f16d7f;
text-align:center;
padding-top: 73px;
text-transform: uppercase;
}

.sp_woman_h3{
    font-size: 18px;
line-height: 24px;
font-weight: 900;
text-transform: uppercase;
color: #4d4d4d;
text-align:center;
padding-top: 17px;
}


.sp_women_c_buttons{
    display: flex;
    justify-content: center;
    padding-top: 14px;
    top: 97px;
}

.sp_women_c_button{
    width: 63px;
height: 2px;
border: none;
margin-bottom: 1px;
}

.sp_women_c_button:hover{
    height: 3px;
    background-color: #ef5b70;
    margin-bottom: 0px;
}

.fa-star{
    font-size: 19px;
line-height: 1.2;
color: #f1b746;
}

.sp_rating{
    display: flex;
    justify-content: center;
    padding-top: 24px;
}

.sp_product_p{
    text-align:center;
    font-size: 14px;
line-height: 24px;
font-weight: 300;
color: #5e5e5e;
max-width: 600px;
padding-top: 26px;
}

.sp_product_info{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #eaeaea;
    margin-top: -55px;
    padding-bottom: 122px;
    position: relative;
    background: white;
}

.sp_product_material_design_h5{
    font-family: Lato;
font-size: 14px;
line-height: 24px;
font-weight: 700;
color: #b9b9b9;
padding: 0 22px;
}

.sp_product_material_design_last{
    color: #2f2f2f;
}

.sp_product_material_design{
    display: flex;
    padding-top: 28px;
}

.sp_product_hr{
    margin: 43px 0 63px 0;
    width: 642px;
}



.choose_sp{
    display: flex;
    justify-content: space-between;
}


.sp_choose_option{
    font-size: 14px;
line-height: 24px;
font-weight: 700;
color: #2f2f2f;
text-transform: uppercase;
}



.sp_choose_color_block_blue{
    height: 12px;
    width: 12px;
    background-color: blue;
    display: inline-block;
    margin-right: 11px;
}

.sp_choose_color_block_red{
    height: 12px;
    width: 12px;
    background-color:red;
    display: inline-block;
    margin-right: 11px;
}

.sp_choose_color_block_octarine{
    height: 12px;
    width: 12px;
    background-color: purple;
    display: inline-block;
    margin-right: 11px;
}
.sp_choose_color_block_black{
    height: 12px;
    width: 12px;
    background-color: black;
    display: inline-block;
    margin-right: 11px;
}

.select_size{
    width: 144px;
height: 35px;
background-color: #ffffff;
border: 1px solid #eaeaea;
padding-left: 10px;
padding-right: 10px;
font-size: 13px;
line-height: 24px;
font-weight: 400;
color: #bcbcbc;
}

.choose_number_sp{
        border: 1px solid #eaeaea;
        padding: 13px;
        width: 144px;
        box-sizing: border-box;
    height: 35px;
}

.sp_color_choose{
  list-style: none;
  width: 144px;
height: 35px;
background-color: #ffffff;
border: 1px solid #eaeaea;
padding-left: 11px;
padding-top: 6px;
box-sizing: border-box;
}

.sp_choose_ul_hidden{
    list-style-type: none;
    padding-inline-start: 0;
    position: absolute;
    background-color: white;
    padding: 0 10px 10px 0;
    width: 144px;
    box-sizing: border-box;
}

.sp_color_choose::-webkit-details-marker {display: none; }

.sp_product_add{
    width: 537px;
    background-color: white;
    border: 1px solid #ef5b70;
    margin-top: 28px;
    font-size: 16px;
line-height: 1.2;
font-weight: 700;
color: #ef5b70;
display: flex;
justify-content: center;
align-items: center;
padding: 16px 0;
}

.form_sp_wrapper{
    width: 537px;
}

.add_to_cart_ap_img{
    padding-right: 15px;
    background-image: url(img/add_to_cart_red.svg);
    background-size: contain;
    width: 26px;
    height: 24px;
    background-repeat: no-repeat;
}

.sp_product_add:hover{
    background-color: #ef5b70;
    color: #fff;
}

.sp_product_add:hover .add_to_cart_ap_img{
  background-image: url(img/cart_icon.png)
}

.sp_add_cart_a{
    text-decoration: none;
}

.sp_add_cart_a:focus{
    text-decoration: none; 
}

.sp_suggested_h3{
    font-size: 24px;
line-height: 20px;
font-weight: 900;
text-transform: uppercase;
color: #4d4d4d;
text-align: center;
padding-top: 119px;
}

.checkout_li{
    font-size: 16px;
font-weight: 700;
text-transform: uppercase;
color: #222222;
width: 100%;
border-bottom: 1px solid #e8e8e8;
padding: 23px 0 30px 0;
}

.checkout_h5{
    font-size: 13px;
line-height: 1.2;
font-weight: 400;
text-transform: uppercase;
color: #222222;
}

.checkout_p{
    font-size: 13px;
line-height: 20px;
font-weight: 400;
color: #b3b2b2;
text-transform: none;
}

.checkout_columnize{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.checkout_left{
    padding-left: 40px;
}

.checkout_ol{
    list-style-position: inside;
}

.checkout_right{
    padding-right: 150px;
    padding-left: 40px;
}

.required_star{
    font-size: 17px;
line-height: 20px;
font-weight: 400;
color: #ff0d0d;
}

.checkout_input{
    width: 390px;
height: 45px;
background-color: #ffffff;
border: 1px solid #eaeaea;
}

.checkout_option{
    font-size: 12px;
line-height: 1.2;
font-weight: 400;
}

.checkout_continue{
width: 180px;
height: 50px;
background-color: #ffffff;
border: 1px solid #eaeaea;
text-transform: uppercase;
}

.checkout_continue:hover{
    background-color: #ef5b70;
    color: #fff;
    transition-duration: 0.3s;
}

.checkout_block{
    padding: 17px 0;
}

.checkout_forgot_pw{
    width: 180px;
height: 50px;
background-color: #ffffff;
border: none;
text-transform: uppercase;
}

.checkout_forgot_pw:hover{
    color: #ef5b70;
}

.checkout_block_right_one{
    padding: 17px 0;
}

.checkout_block_right_two{
    padding:10px 0;
}

.checkout_block_right_three{
    padding: 3px 0;
}

.required_fields{
    text-transform: none;
    font-size: 13px;
line-height: 20px;
font-weight: 400;
color: #ff0d0d;
}

.checkout_block_right_buttons{
    padding: 23px 0 40px 0;
}

.product-menu__item{
    font-size: 14px;
line-height: 33px;
font-weight: 400;
color: #6f6e6e;
text-decoration: none;
padding-left: 16px;
}

.product-menu__item:hover{
    color: #ef5b70; 
}

.product-menu_link{
    text-decoration: none;
}
.product-menu_link:hover{
    text-decoration: none;
}

.product-menu_ul{
 list-style-type: none;
 padding-inline-start: 0;
}

.product-menu_headline{
    font-size: 14px;
line-height: 20px;
font-weight: 700;
text-transform: uppercase;
color: #ef5b70;
border-left: 5px solid #ef5b70;
list-style: none;
padding-left: 11px;
border-bottom: 1px solid #eeeeee;
width: 200px;
margin-bottom: 18px;
margin-right: 20px;
padding-bottom: 10px;
}

.dropdown_browse_summary::-webkit-details-marker {
    display: none;
  }

  .dropdown_browse_summary{
    list-style: none;
  }

  .dropdown_browse_summary::after {
    content: ' ►';
  }

  .dropdown_browse__details[open] .dropdown_browse_summary::after {
    content: " ▼";
  }

.product-menu_headline::-webkit-details-marker {
    display: none
  }
  
.product-menu_headline::after {
    content: ' ►';
  }
.product-menu__details[open] .product-menu_headline:after {
    content: " ▼";
  }

.product-page__content{
margin-top: 59px;
display: flex;
  }

.product-page__product-cards{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  }

.product-page_offer_background{
    background-color: #222224;
    margin-top: 110px;
}

.product-page_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-page_offer_section{
    max-width: 295px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
align-items: center;
margin: 89px 0 115px 0;
}

.product-page_offer_heading{
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #fbfbfb;
    padding-top: 32px;
}

.product-page_offer_explained{
    font-size: 13px;
line-height: 24px;
font-weight: 300;
letter-spacing: 0.025em;
color: #fbfbfb;
text-align: justify;
padding-top: 17px;
}

.product-page_sort-by{
    display: flex;
    background-color: #f3f3f3;
    margin-bottom: 48px;
  
}

.product-page_sort-by_summary::-webkit-details-marker {
    display: none
  }
  
  .product-page_sort-by_summary{
      list-style-type: none;
      margin: 10px;
      padding: 10px;
      background-color: #fff;
      font-size: 14px;
font-weight: 400;
color: #6f6e6e;
  }
.product-page_sort-by_summary::after {
    content: ' ►';
  }
.product-page_sort-by_details[open] .product-page_sort-by_summary:after {
    content: " ▼";
  }

.product-page__filters_positioning{
    display: flex;
    justify-content: space-between;
}

input[type=range] {
    height: 21px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 262px;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 262px;
    height: 6px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #F16D7F;
    border-radius: 5px;
    border: 0px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 0px solid #000000;
    height: 14px;
    width: 14px;
    border-radius: 50px;
    background: #F16D7F;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -4px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #F16D7F;
  }
  input[type=range]::-moz-range-track {
    width: 262px;
    height: 6px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 0px 0px 0px #000000;
    background: #F16D7F;
    border-radius: 5px;
    border: 0px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 0px solid #000000;
    height: 14px;
    width: 14px;
    border-radius: 50px;
    background: #F16D7F;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #F16D7F;
    border: 0px solid #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #F16D7F;
    border: 0px solid #000000;
    border-radius: 10px;
    box-shadow: 0px 0px 0px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 1px 1px 1px #000000;
    border: 0px solid #000000;
    height: 14px;
    width: 14px;
    border-radius: 50px;
    background: #F16D7F;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #F16D7F;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #F16D7F;
  }

  .product-page__filters_sizes{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      max-width: 250px;
  }

  .product-page__filters_sizes_size{
      padding-right: 10px;
      font-family: 'Open Sans';
font-size: 14px;
line-height: 20px;
font-weight: 400;
text-transform: uppercase;
color: #6f6e6e;
  }

  .product-page__filters_link{
    font-family: Lato;
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    color: #6f6e6e;
    text-decoration: none;
  }

  .product-page__filters_link:hover{
      color:  #F16D7F;
      text-decoration: none;
  }

  .product-page__filters_h5{
      max-width: 180px;
  }

  .product-page__filters_h5{
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #6f6e6e;
    padding-bottom: 20px;
  }

  .product-page_discount_icon{
      max-height: 36px;
  }

  .product-page_right-section{
      display: flex;
      flex-direction: column;
  }

  .page-link{
    font-size: 16px;
    line-height: 26px;
    font-weight: 700;
    color: #c4c4c4;
    border-left: 0;
    border-right: 0;
  }

  .page-item:hover .page-link{
    color: #ef5b70;
    background-color: #fff;
  }

  .product-page__bootstrap_fa_angle{
    font-size: 17px;
    line-height: 26px;
    font-weight: 700;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    color: #aaaaaa;
  }

  .pagination{
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    max-width: fit-content;
  }

  .product-page__bootstrap_fa_angle:hover{
    color: #ef5b70;   
  }

  .product-page_view-all_button{
    max-height: 44px;
    max-width: 150px;
    background-color: #ffffff;
    border: 1px solid #a4a4a4;
border-radius: 3px;
padding: 0 40px;
font-size: 16px;
line-height: 26px;
font-weight: 700;
color: #a4a4a4;
}

.product-page_view-all_button:hover{
    color: #ef5b70;   
    border: 1px solid #ef5b70;
    transition-duration: 0.3s;
}

.cart-product-box__left{
    flex: 33%;
    font-size: 13px;
    line-height: 20px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.015em;
    color: #222222;
}

.cart-product-box_h5{
    font-size: 13px;
line-height: 20px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: -0.015em;
color: #222222;
flex: 16%;
text-align: center;
}

.cart-product-box_not_left{
    flex: 16%;
    text-align: center;
}
.cart-product-box_h5_last, .cart-product-box_not_left__last{
    flex: 3%;
}

.cart-product-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-product-box__with-item{
    border-top: 1px solid #eaeaea;
    border-bottom: 1px solid #eaeaea;
}

.cart-product_section{
    margin-top: 90px;
}

.cart-product-box__left-product{
    display: flex;
    align-items: center;
    padding: 22px 0;
    flex: 33%;
}

.cart-product-item__description{
    padding-left: 21px;
}

.cart-product-box__property{
    font-size: 13px;
line-height: 20px;
font-weight: 400;
color: #575757;
}

.cart-product-box__property-explained{
    font-weight: 300;
color: #6f6e6e;
}

.cart-product-box_title{
    font-size: 13px;
line-height: 1.2;
font-weight: 400;
text-transform: uppercase;
color: #222222;
padding-bottom: 35px;
}

.cart-product-box_quantity{
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    padding: 10px 20px;
    box-sizing: border-box;
    max-width: 55px;
    max-height: 30px;
    line-height: 0;
}

.cart__fa-times-circle{
    padding: 0;
}